{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>home</title>
<section class="home">
    <center>
        <font size="6">
            <h1>Stonehenge</h1>
            <p>Stonehenge is a prehistoric monument on Salisbury Plain in Wiltshire, England, two miles west of Amesbury. It consists of an outer ring of vertical sarsen standing stones, each around 13 feet high, seven feet wide, and weighing around 25 tons, topped by connecting horizontal lintel stones. </p>
        </font> 
        <img src="{% static 'images/154.jpg' %}" width="1100" height="500"> 
    </center>
</section>              