{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>projects</title>
<section class="project-area">
    <center>
        <font size="6">
            <p>PROJECTS</P>
        </font>  
        <div id="project" class="project-item">
            <h2>PROJECT 1 NAME </h2>
        <p>hgsdjsbsddhg dhjgdsbds, hddgakfgkab jhgfsfasgfhsdg hjgsjhdsgjgas ghfahjg </p>
        </div>
        <div id="project" class="project-item">
            <h2>PROJECT 2 NAME</h2>
            <p>hghdhjgk hgshjkagaj vfyhgfyffg gffffbfkb
                ghhhhfbkjgf
                fgjfghffjfhfjbfyutnfjhfsdssbhjgf fgyfkfh
                fabfgfanff fjk
            </p>
        </div>
    </center>
</section>                
